aside.sidebar.border-end.bg-light

  .p-3

    nav.nav.flex-column

      = link_to t("sidebar.home"),
          home_index_path,
          class: "sidebar-link"

      = link_to t("sidebar.learning_entries"),
          learning_entries_path,
          class: "sidebar-link"

      = link_to t("sidebar.add_new_entry"),
          new_learning_entry_path,
          class: "sidebar-link"

      = link_to t("sidebar.logout"),
          logout_path,
          data: { turbo_method: :delete },
          class: "sidebar-link"