/ SEARCH BAR START

.row.mb-4

  .col-12.col-md-8

    = form_with url: learning_entries_path,
        method: :get,
        local: true,
        class: "search-form d-flex flex-column flex-md-row gap-2" do

      = text_field_tag :search,
          params[:search],
          class: "form-control",
          placeholder: t("learning_entries.search_placeholder")

      = submit_tag t("learning_entries.search"),
          class: "btn btn-primary"

      = link_to t("learning_entries.reset"),
          learning_entries_path,
          class: "btn btn-secondary"

- if @entries.any?

  - @entries.each do |entry|

    = render "learning_entry",
        entry: entry

- else

  - if params[:search].present?

    .alert.alert-warning.text-center
      = t("learning_entries.no_entries_found_for", search: params[:search])
      
  - else

    .alert.alert-info.text-center

      = t("learning_entries.no_entries_found")