= turbo_frame_tag "learning_entries_results" do

  #learning_entries

    - if @entries.any?

      - @entries.each do |entry|

        = render "learning_entry",
            entry: entry

    - else

      - if params[:search].present?

        .alert.alert-warning.text-center

          = t("learning_entries.no_entries_found_for", search: params[:search])

      - else

        .alert.alert-info.text-center

          = t("learning_entries.no_entries_found")