<h1>Daily Learning Tracker</h1>

<a href="/learning_entries/new">
     Add Entry
</a>

<hr>

<% @entries.each do |entry| %>
   <p>
     Date:
     <%= entry.date %>
   </p>

   <p>
     Topic:
     <%= entry.topic %>
   </p>

   <p>
     Hours:
     <%= entry.hours %>
   </p>

   <p>
     Notes:
     <%= entry.notes %>
   </p>

   <hr>
   <% end %>
